<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Home" content="width=device-width, initial=scale=1.0"/>
        <title>Home</title>
        <link href="../css/style_homepage.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="img/logo-homepage.png" class="logo-home" alt="Home Logo">

            <ul>
                <li><td><a th:href="@{/cliente/listado}">Clientes</a></td></li>
                <li><td><a th:href="@{/proveedor/listado}">Proveedores</a></td></li>
                <li><td><a th:href="@{/zona/listado}">Zonas</a></td></li>
                <li><td><a th:href="@{/producto/listado}">Productos</a></td></li>
                <li><td><a th:href="@{/vehiculo/listado}">Vehículos</a></td></li>
                <li><td><a th:href="@{/cobro/listado}">Cobros</a></td></li>
                <li><td><a th:href="@{/estadistica/listado}">Estadisticas</a></td></li>

            </ul>

            </div>
        </div>
        <footer>
            <div style="font-family: fantasy">
                <p>Sitio desarrollado por MA 2022 &copy <a href="mailto:aviacion@gmail.com">Contactenos</a></p>
            </div>
        </footer>
    </body>
</html>