<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>CControl</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesone/css/all.css}"/>
        <link href="css/menu.css" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

                <body class="body text-info bg-dark">
                    <header th:replace="layout/plantilla :: header"/>


                    
                    
                    
                    <div class="contenido" style="margin-left: 100px; margin-right: 100px; margin-top: 200px">
                    <section>
                        <div class="row g-3"><h2><u class="text-warning bg-dark">Datos Clientes</u></h2></div>
                        <div class="col-md-4"><h2><u class="text-warning bg-dark">Datos Clientes</u></h2></div>
                        <section class="bg-dark" th:replace="cliente/fragmentosCliente :: botonesAgregar"/>
                        <div th:if="${clientes != null and !clientes.empty}">
                            <article>
                                <table class="table table-dark table-striped">
                                    <thead>
                                        <tr class="table-light">
                                            <th class="text-warning bg-dark">Nombre</th>
                                            <th class="text-warning bg-dark">Telefono</th>
                                            <th class="text-warning bg-dark">Direccion</th>
                                            <th class="text-warning bg-dark">Zona</th>
                                            <th class="text-warning bg-dark">Eliminar</th>
                                            <th class="text-warning bg-dark">Modificar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cliente : ${clientes}">
                                            <td class="table-primary">[[${cliente.nombre}]]</td>
                                            <td class="table-primary">[[${cliente.telefono}]]</td>
                                            <td class="table-primary">[[${cliente.direccion}]]</td>
                                            <td class="table-primary">[[${cliente.zona.descripcion}]]</td>
                                            <td class="table-primary"><a th:href="@{/cliente/elimina/} + ${cliente.idCliente}">Elimina</a></td>
                                            <td class="table-primary"><a th:href="@{/cliente/actualiza/} + ${cliente.idCliente}">Actualizar</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                        </div>
                        <div th:if="${clientes == null or clientes.empty}">
                            <h3> No existen clientes que mostrar </h3>
                        </div>
                    </section>
                    </div>
                    <footer th:replace="layout/plantilla :: footer"/>
                </body>
                </html>
