<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>CC Productos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
    </head>
    <body>    
        
        <div class="contenido">
            <h2>Datos de Producto</h2>
            <a th:href = "@{/producto/listado}">Regresar</a>
            <hr/>
            <form th:action="@{/producto/guardar}"
                method="post"
                th:object="${producto}">
                             
 
                <input type="hidden" name="idProducto" th:fiel="*{idProducto}"/>
                
                <fieldset>
                    <label for="proveedor">ID Proveedor: </label>
                    <input type="number" name="ID" required="true" placeholder="proveedor" th:field="*{proveedor.idProveedor}"/> 
                </fieldset>

                                
                <fieldset>
                    <label for="precio">Precio Unitario: </label>
                    <input type="number" name="precio" required="true" placeholder="precio" th:field="*{precio_unit}"/> 
                </fieldset>

                <fieldset>
                    <label for="cantidad">Cantidad: </label>
                    <input type="number" name="cantidad" required="true" placeholder="cantidad" th:field="*{cantidad}"/> 
                </fieldset>

                <fieldset>
                    <label for="descripcion">Descripción: </label>
                    <input type="text" name="descripcion" required="true" placeholder="descripcion" th:field="*{descripcion}"/> 
                </fieldset>
                
                <hr/>
                <input type="submit" name="guardar" value="Guardar"/>
            </form>   
        </div>
    </body>
</html>
 