<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head"/>

    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div>
            <!-- <p class="text-warning bg-dark"><h2 class="text-light bg-dark">>[[#{index.titulo}]]</h2></p> -->
            
            
            
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
