<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>CC login</title>
    <link href="css/style_login.css" rel="stylesheet"/>
</head>

<body>
    <section class="form-login">
        <h3>Iniciar sesión</h3>
            <input class="login-controls" type="text" name="usuario" value="" placeholder="Usuario">
            <input class="login-controls" type="password" name="contraseña" value="" placeholder="Contraseña">
            <input class="buttons-login" type="submit" name=" " value="Ingresar">
            <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
    </section>
</body>

</html>
