<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
    </head>
    <body>    
        
        <div class="contenido">
            <h2>Datos de los vehiculos</h2>
            <a th:href = "@{/vehiculo/listado}">Regresar</a>
            <hr/>
            <form th:action="@{/vehiculo/guardar}"
                method="post"
                th:object="${vehiculo}">

                <input type="hidden" name="idVehiculo" th:fiel="*{idVehiculo}"/>
                <input type="hidden" name="descripcion" th:field="*{vehiculo.num_placa}"/> 
                <input type="hidden" name="descripcionVeh"  th:field="*{vehiculo.descripcion}"/> 
               
                
                <fieldset>
                    <label for="descripcion">Descripcio: </label>
                    <input type="text" name="descripcion" required="true" placeholder="descripcion" th:field="*{descripcion}"/> 
                </fieldset>

                                
                <fieldset>
                    <label for="vehiculo">Vehiculo: </label>
                    <input type="number" name="vehiculo" required="true" placeholder="vehiculo" th:field="*{vehiculo.idVehiculo}"/> 
                </fieldset>
                
                
                <fieldset>
                    <label for="vehiculo">Vehiculo: </label>
                    <input type="number" name="Número de Placa" required="true" placeholder="#####" th:field="*{vehiculo.num_placa}"/> 
                </fieldset>

                                         
                
                <hr/>
                <input type="submit" name="guardar" value="guardar"/>
            </form>   
        </div>
    </body>
</html>
 